
<h1>Editing booking</h1>

<%= render "form", booking: @booking %>

<br>

<div class="flex gap-6 items-center">
  <%= link_to "Show this booking", @booking %> |
  <%= link_to "Back to bookings", bookings_path %>
</div>
