<h3 class="title-2">Pending Booking</h3>
<table class="new-table">
    <thead>
        <th class="table-cell">Status</th>
        <th class="table-cell">Full Name</th>
        <th class="table-cell">Email</th>
    
        <th class="table-cell">Booking Type</th>
        <th class="table-cell">Premium</th>
        <th class="table-cell">Paid</th>
    </thead>
    <tbody>
        <%= render bookings.pending%>
    </tbody>
</table>
