<%= render "dashboard" %>

<% if @bookings.pending.any?%>
  <%= render "pending", bookings: @bookings%>
<%end%>

<% if @bookings.approved.any?%>
  <%= render "approved", bookings: @bookings%>
<%end%>

<% if @bookings.rejected.any?%>
  <%= render "unapproved", bookings: @bookings%>
<%end%>

</div>
  <div> 